jinja2~=3.0.3
boto3==1.38.2
# jinja2 pulls in MarkupSafe with a > constraint, but we need to constrain it for compatibility
MarkupSafe>=2.0.0,<2.2
pyparsing<3.0.0
zipp<2.0.0
pywinrm==0.5.0
requests==2.32.3
paramiko~=2.10.0
pyzmq==25.1.2
pycryptodome==3.22.0
more-itertools==5.0.0
PyYAML==5.4.1
psutil==5.9.8
