jinja2==2.10.1
boto3==1.9.217
# jinja2 pulls in MarkupSafe with a > constraint, but we need to constrain it for compatibility
MarkupSafe<2.0.0
pyparsing<3.0.0
zipp<2.0.0
pywinrm==0.2.2
requests==2.22.0
bcrypt==3.1.7
paramiko~=2.3.2
pysistence==0.4.1
pyzmq==18.1.0
pycryptodome==3.8.2
more-itertools==5.0.0
six==1.12.0
# for the following packages these are the last versions supporting python 2
pynacl==1.4.0
filelock==3.2.1
cryptography==3.3.2
certifi==2020.04.05.1
# xmltodict is required for pywinrm, but as they didn't pin their python2 version, we have to
xmltodict==0.12.0
pyspnego<0.2.0
requests-ntlm==1.1.0
